:root {
  --primary-color: #3b82f6;
  --gray: #525252;
  --light-gray: #f9fafb;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
  text-align: center;
  padding: 1.5rem 0rem;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

#input-txt {
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid rgb(138, 133, 133);
}

.btn-translate {
  margin: 0 auto;
  font-size: medium;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  border: none;
  background-color: var(--primary-color);
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-translate:hover {
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  border: none;
  background-color: rgb(94, 0, 182);
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

.translated-morse {
  border: 1px solid rgb(138, 133, 133);
  border-radius: 1rem;
  margin-top: 1rem;
  height: 10rem;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
}

.footer-header {
  color: white;
  text-align: center;
}
.footer-desc {
  padding-bottom: 2rem;
  color: white;
  font-size: large;
  text-align: center;
}
